./springboot-full-stack-with-react/.metadata
./springboot-full-stack-with-react/RemoteSystemsTempFiles
./springboot-full-stack-with-react/cardatabase/.settings/
./springboot-full-stack-with-react/target
./springboot-full-stack-with-react/.classpath
./springboot-full-stack-with-react/.project
./springboot-full-stack-with-react-2/Chapter10/node_modules/


